/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: BerlinSansFBDemiBold;
    src: url(./fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}

@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('./fonts/BerlinSansFBWebfont/BRLNSR.woff') format('woff');
}

@font-face {
    font-family: 'Berlin Sans FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Bold'), url('./fonts/BerlinSansFBWebfont/BRLNSB.woff') format('woff');
}



/* Global Settings
------------------------ */
html {
    overflow-y: scroll;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --color-base: #3184a5;
}

a {
    color: #3184a5;
    text-decoration: none;
}

a:hover {
    color: #3184a5;
}

body {
    position: relative;
}


/* Header
------------- */
.header {
    position: relative;
    z-index: 999999 !important;
}

.header.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(0);
    animation: animate 0.4s ease forwards;
}

@keyframes animate {
    from {
        transform: translateY(-10rem);
    }

    to {
        transform: translateY(0);
    }
}

/* topbar */
.topbar {
    padding: 0.5rem 6rem;
    background: var(--color-base);
    font-family: 'Berlin Sans FB';
}

.info-content div span {
    color: #fff;
    font-size: 1.1rem;
}

.info-content p,
.location-topbar p {
    color: #fff;
    font-size: 1.1rem;
}

/* Navbar */
.navbar {
    background: #fff !important;
    border-bottom: 1px solid #ddd;
    font-family: BerlinSansFBDemiBold;
}

.nav-content {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-brand {
    padding-left: 5rem;
}

.navbar-brand img {
    height: 4rem;
    width: 8rem;
}


.nav-item .nav-link.active {
    color: var(--color-base) !important;
}

.navbar .nav-item:hover .nav-link {
    color: var(--color-base) !important;
}

.main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-menu ul li {
    padding: 0 0.6rem;
}

.main-menu ul li a {
    color: #4c4855!important;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.4s ease;
}

.dropdown-menu>li>a {
    color: #444;
    font-size: 1.1rem !important;
    font-family: 'Berlin Sans FB';
}

.nav-content .quote-btn {
    position: absolute;
    top: 1rem;
    right: 6rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-content .quote-btn a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-base) !important;
    border: 2px solid var(--color-base);
}



/* Hero Carousel
--------------------- */
.carousel-item {
    position: relative;
    height: 100vh;
    min-height: 360px;
    font-family: BerlinSansFBDemiBold;
}

.carousel-item1 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-01.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-01.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item2 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-02.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-02.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-item3 {
    background: -o-linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-03.jpg');
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.4), rgba(35, 35, 35, 0.7)), url('./img/slider-03.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    width: 800px;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.carousel-caption h5 {
    font-size: 4rem;
    font-weight: 800;
}

.carousel-caption p {
    display: inline-block;
    margin-top: 1.2rem;
    padding: 1rem 1.8rem;
    background: var(--color-base);
    box-shadow: 3px 3px 4px #222;
}

.carousel-caption p a {
    color: #fff;
    font-size: 1.3rem;
}













/* Breadcrumb 
----------------- */
.breadcrumb-area {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./img/interior_gallery/commercial_02.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-bottom: 1px solid #ddd;
}

.breadcrumb-area .container-lg {
    padding: 4rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-area .title h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Berlin Sans FB';
    /* font-family: BerlinSansFBDemiBold; */
    text-transform: uppercase;
}

.breadcrumb-item a{
    color: #eee;
}



/* Services
----------------- */
.section-title h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: BerlinSansFBDemiBold;
}

.section-title h1 span {
    color: var(--color-base);
}

.section-title p {
    position: relative;
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-family: 'Berlin Sans FB' !important;
}

.card {
    position: relative;
    height: 24rem;
    width: 26rem;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 15px gray;
    box-shadow: 4px 4px 15px gray;
    border: none !important;
}

.card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.4);
    pointer-events: none;
    z-index: 99;
}

.card img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.card:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card .card-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 999;
}

.card .card-text-content p {
    padding: 0 0.6rem;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px #444;
    font-family: BerlinSansFBDemiBold;
}































/* service gallery */
.service-gallery {
    display: flex;
    flex-wrap: wrap;
}

.service-gallery-content {
    position: relative;
    height: 400px;
    flex-basis: 400px;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease;
}

.service-gallery-content::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.9) 100%);
    z-index: 999;
}

.service-gallery-content::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all 0.4s ease;
    z-index: 9999;
}

.service-gallery-content:hover::after{
    background: rgba(0, 0, 0, 0.4);
}

.service-gallery-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.8s ease;
}

.service-gallery-content:hover img {
    transform: scale(1.2);
}

.service-gallery-content .preview-details{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    transform: translate(0, -20%);
    transition: all 0.3s ease-in-out;
    z-index: 99999;
}

.service-gallery-content .preview-details p{
    color: #fff;
    position: absolute;
    margin-right: 5rem;
    padding-bottom: 0.4rem;
    transform: translate(-5%, -20%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.service-gallery-content:hover .preview-details p{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(5%, -20%);
}

.service-gallery-content .preview-details p::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: -20%;
    height: 0.2rem;
    width: 120%;
    background: goldenrod;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease;
    transition-delay: 0.3s;
}

.service-gallery-content:hover .preview-details p::before{
    transform: scaleX(1);
}

.service-gallery-content .preview-details p{
    color: #fff;
    font-size: 2rem;
    padding-left: 3rem;
    font-family: 'Berlin Sans FB';
}

.service-gallery-content .service-project-title{
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -7%);
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.4s ease;
    z-index: 9999;
}

.service-gallery-content .service-project-title p{
    padding: 0.8rem 1rem;
    margin-bottom: 0!important;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 0.8px;
    border: 4px double #fff;
    font-family: 'Berlin Sans FB';
}













/* Building row
----------------------- */
.building-row {
    position: relative;
    width: 100%;
}

/* construction */
.construction-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* interior */
.interior-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.building-row-img {
    height: 600px;
    width: 660px;
    -webkit-box-shadow: 4px 4px 15px gray;
    box-shadow: 4px 4px 15px gray;
}

.building-row-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.building-row-text {
    height: 420px;
    width: 680px;
    -webkit-box-shadow: 4px 4px 15px silver;
    box-shadow: 4px 4px 15px silver;
}

/* construnction */
.construction-text {
    position: absolute;
    top: 50%;
    left: 90%;
    -webkit-transform: translate(-90%, -50%);
    -ms-transform: translate(-90%, -50%);
    transform: translate(-90%, -50%);
    background: #eee;
    border-radius: 0.2rem;
}

/* interior */
.interior-text {
    position: absolute;
    top: 50%;
    left: 10%;
    -webkit-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%);
    background: #eee;
    border-radius: 0.2rem;
}

.building-row-text h2 {
    color: #444;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 2rem 2rem 0 2rem;
    font-family: BerlinSansFBDemiBold;
}

.building-row-text h2::first-letter {
    color: var(--color-base);
    font-size: 3.2rem;
    font-weight: 600;
}

.building-row-text p {
    color: #444;
    font-size: 1.1rem;
    padding: 2rem 2rem 0 2rem;
}

.building-row-text p a {
    padding: 0.6rem 1rem;
    /* background: var(--color-base); */
    border: 2px solid var(--color-base);
    /* color: #fff; */
    font-family: BerlinSansFBDemiBold;
}






















/* Home Gallery 
------------------------------- */
.gallery {
    padding-bottom: 2rem;
    display: grid;
    place-items: center;
    font-family: 'Berlin Sans FB';
}

.gallery .title h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: BerlinSansFBDemiBold;
}

.gallery .title h1 span {
    color: var(--color-base);
}

.wrapper {
    margin: 1.4rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.wrapper .filter-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.filter-menu li {
    margin: 0.2rem 0.4rem;
    padding: 0.4rem 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    background: #333;
    border-radius: 0.2rem;
    transition: all 0.4s ease;
}

.filter-menu li:hover,
.filter-menu li.active-menu {
    background: var(--color-base);
}

.gallery .filter-items {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.filter-items .filter-content {
    position: relative;
    margin: 0.3rem;
    flex-basis: 420px;
    flex-grow: 1;
    height: 300px;
    cursor: pointer;
    border-radius: 0.4rem;
    box-shadow: 4px 4px 20px gray;
    overflow: hidden;
}

/* active or delete contents */
.filter-items .filter-content.deleteContents {
    display: none;
}

.filter-items .filter-content.activeContents {
    animation: anim 0.3s ease-out forwards;
}

@keyframes anim {
    from {
        transform: scale(0.2);
    }

    to {
        transform: scale(1);
    }
}

.filter-items .filter-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
}

.filter-items .filter-content::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

.filter-items .filter-content:hover::before {
    transform: translateX(0);
}

.filter-items .filter-content::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.filter-items .filter-content:hover::after {
    transform: translateX(0);
}

.filter-items .filter-content .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 1.6rem;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 1;
}

.filter-items .filter-content:hover .hover-text {
    transform: translate(-50%, -50%) scale(1);
}

.filter-items .filter-content .project-title{
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
    /* background: #36333f; */
    background: #292930;
}

/* lightbox  */
.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 99999999 !important;
}

.lightbox.show-lightbox {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.4s ease;
}

.lightbox-header {
    padding-bottom: 0.8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.lightbox-header p {
    color: var(--color-base);
    font-size: 1.2rem;
}

.lightbox-header p span {
    color: #fff;
}

.lightbox-close-btn{
    display: grid;
    height: 2.4rem;
    width: 2.4rem;
    place-items: center;
    cursor: pointer;
}

#close-lightbox {
    position: relative;
    height: 2rem;
    width: 2rem;
}

#close-lightbox::before {
    position: absolute;
    content: '';
    top: 0.8rem;
    right: 0;
    height: 3px;
    width: 20px;
    background: #fff;
    border-radius: 0.1rem;
    transform: rotate(-45deg);
    transition: all 0.4s ease;
}

#close-lightbox::after {
    position: absolute;
    content: '';
    top: 0.8rem;
    right: 0;
    height: 3px;
    width: 20px;
    background: #fff;
    border-radius: 0.1rem;
    transform: rotate(45deg);
    transition: all 0.4s ease;
}

#close-lightbox:hover::before,
#close-lightbox:hover::after {
    background: var(--color-base);
}

.image-wrapper {
    height: 90%;
    width: 100%;
}

.image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lightbox-shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9999999 !important;
}

.lightbox-shadow.show-shadow {
    display: block;
}



























/* Project Gallery */
.filter-items.project-gallery .filter-content .hover-text {
    font-size: 2rem;
}

.filter-items.project-gallery .filter-content::before {
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.4);
    transform: translateX(0) scale(0);
}

.filter-items.project-gallery .filter-content:hover::before {
    transform: translateX(0) scale(1);
}

.filter-items.project-gallery .filter-content::after {
    width: 0;
    height: 0;
    transform: translateX(0) scale(0);
}

.filter-items.project-gallery .filter-content:hover::after {
    transform: translateX(0);
}













/* footer area */
.footer-area{
    background: #2b2b31;
}


/* footer top
------------------ */
.footer {
    margin-top: 3rem;
}

.footer-col h5,
.contact-info > p,
.info-area h6,
.info-area p,
footer span{
    color: #fff;
}

.footer-wrap {
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-col {
    -ms-flex-preferred-size: 340px;
    flex-basis: 340px;
    height: 420px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.footer-col h5 {
    color: #fff;
    margin-bottom: 2.2rem;
    padding-bottom: 0.4rem;
    border-bottom: 3px solid var(--color-base);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Berlin Sans FB';
}

.contact-info > p{
    font-size: 1rem;
    padding-bottom: 1rem;
}

.info-area h6 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Berlin Sans FB';
}

.location {
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
}

.map-box {
    width: 100%;
    height: 100%;
}



/* footer bottom
------------------------ */
footer {
    display: -ms-grid;
    display: grid;
    height: 4rem;
    width: 100%;
    place-items: center;
    border-top: 1px solid gray;
}